@import url('https://fonts.googleapis.com/css?family=Laila');


#root {
  height: 100vh;
}

.App {
  font-size: 16px;
  font-family: "Laila";
  color: purple;
  background: black;
}

.App-header {
  background-color: purple;
  /*font-size: calc(10px + 2vmin);*/
}

.App-header-title {
  color: grey;
  font-size: 24px;
  letter-spacing: 12px;
}

.App-header-subtitle {
  color: black;
  font-size: 16px;
}

.App-main {
  border: 3px solid purple;
}

.Selector {
  cursor: pointer;
}

.Selector-option {
  color: grey;
  background: purple;
}

.Selector-option_selected {
  background: black;
}

.Selector-option:hover {
  color: white;
}

.Company {
  background: black;
}

.Company-button {
  color: grey;
  border-radius: 2px;
  box-shadow: 1px -1px 0px 1px purple;
  cursor: pointer;
}

.Company-button:hover {
  color: white;
  box-shadow: 1px -1px 1px 1px grey;
}

.Repo {
  border-width: 0;
  border-radius: 2px;
  box-shadow: 1px -1px 0px 1px purple;
}

.Repo:hover {
  box-shadow: 1px -1px 1px 1px grey;
}

.Repo-link {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.Repo-link:hover {
  color: red;
  /*text-decoration: underline;*/
}

.Repo-description {
  color: grey;
}

.Repo-stars {
  color: purple;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
